.text-primary {
    color: #4232c2!important;
}
.aside{
  width: 200px;
  padding: 12px;
}
.middle-content{  
  padding: 3% 0;
}
.aside-list {
  flex-direction: column;
}
.footer{
  background-color: #4232c2!important;
  padding: 20px 0;
}
.footer p{
  font-size: 14px;
  margin: 0;
  color: #fff;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-group {
  margin-bottom: 1rem;
}
.form-row>.col, .form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}
.card{
  margin-bottom: 20px;
}
.react-tabs {
  display: flex;  
  width: 100%;  
  margin-top: 20px;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
  width: 170px;  
  border-bottom: 0 !important;  
  margin-right: 20px !important;
}

.react-tabs__tab-panel {  
  width: 100%;
}
.react-tabs__tab{
  border: 0 !important;
  bottom:0 !important;
  color: #212529;
  font-weight: 400;
}
.react-tabs__tab--selected{
  color: #f6f9fe !important;
    background-color: #4232c2!important;
    border-color:#4232c2!important;
    border-radius: 50rem!important;
    font-weight: 500;
}
.react-tabs__tab:focus:after{
  content: none !important;
  box-shadow: none !important;
}
.navbar-nav{
  padding: 12px 0;
}
.text-purple {
  color: #4232c2!important;
}
.text-purple-light {
  color: #6266ea!important;
}
.btn-secondary{
  background-color: #6266ea !important;
    border-color: #6266ea !important;
}
.fa{
  font-size: 1.2rem!important;
}
.btn-outline-primary {
  color: #4232c2 !important;
  border-color: #4232c2 !important;
} 
.btn-check:active+.btn-outline-primary, 
.btn-check:checked+.btn-outline-primary, 
.btn-outline-primary.active, 
.btn-outline-primary.dropdown-toggle.show, 
.btn-outline-primary:active{
  color: #f6f9fe !important;
    background-color: #4232c2 !important;
    border-color: #4232c2 !important;
}
.btn-outline-primary:hover {
  color: #f6f9fe !important;
  background-color: #4232c2 !important;
  border-color: #4232c2 !important;
}
.mx-auto.navbar-nav .nav-link{
  margin: 0 2em;
}
#index_banner .carousel-indicators button, #index_banner .carousel-indicators.active {
  background-color: #6266ea !important;
}
#index_banner .carousel-control-prev span, #index_banner .carousel-control-next span{
  color: #6266ea !important;
  text-decoration: none;
  font-size: 4em;
}
.middle-content h3::after {
  content: "";
  width: 150px;
  display: block;
  position: absolute;
  border-bottom: 5px solid #6266ea;
  padding-top: .5em;
}
.service-work.card {
  border-radius: 10px !important;
  cursor: pointer;
}
.service-work .service-work-vertical {
  background: rgb(0,0,0);
  background: linear-gradient(
0deg
, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 33.33%, rgba(255,255,255,1) 66.66%, rgba(255,255,255,0) 99.99%);
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
}
.service-work .service-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}
.service-work .service-work-vertical:hover * {
  color: #000;
  border-color: #000;
  transition: .5s;
}